<p class="title_p">{{title}}</p>
<P><a class="default_a" href="/">BACK TO HOME PAGE</a></P>
{{#if item}}
{{#with item}}
<p>{{name}} <span class="span_delete">deleted</span></p>
{{/with}}
<p>remaining total: <span class="span_count">{{count}}</span></p>
{{else}}
<p>ITEM NOT FOUND</p>
{{/if}}